body {
	font-family: "oswald";
	padding-bottom: 10px;
	margin-left: 10px;

}

h1 {
	font-family: "oswald";
	color: blue;
	text-align: center;
}

section {
	width: 350px;
	height: 450px;
	border-style: solid;
	border-color: #99ffcc;
	margin: 10px;
	background-color: silver;
	border-radius: 50px;


}

#leftinput {
	height: 33px;
	width: 74px;
	padding: 12px;
	border: solid lightgrey;
	text-align: center;
	margin-bottom: 10px;
	margin-left: 10px;
	border-style: inset;
	font-size: 16px;
	font-family: "oswald";
	border-right-color: transparent;
}

#rightinput {
	height: 33px;
	width: 74px;
	padding: 12px;
	border: solid lightgrey;
	text-align: center;
	margin: bottom;
	border-style: inset;
	font-size: 16px;
	font-family: "oswald";
	border-right-color: lightgrey;
	border-left-color: transparent;
}

#moperator {
	height: 33px;
	width: 30px;
	padding: 12px;
	border: solid lightgrey;
	text-align: center;
	margin: bottom;
	border-style: inset;
	font-size: 16px;
	font-family: "oswald";
	border-right-color: transparent;
	border-left-color: transparent;
}

input[type="button"] {
	border-width: 2px;
	padding: 4px;
	text-align: center;
	margin: auto;
	border-radius: 12px;
	margin-top: 50px;
	overflow: hidden;
	background-color: #F3D8C7;
	border-color: #00e673;
	color: #695848;
	font-weight: bold;
	font-family: "oswald";
	box-shadow:inset 2px 0px 5px 0px rgba(42,42,42,.75)
		
}
	.number {
		background-color: grey;
		color: white;

	}

	.operator {
		background-color: goldenrod;
		color: navy;
	
	}

	#clear {
		background-color: goldenrod;
		color: navy;
		
	}

	#bequal {
		background-color: goldenrod;
		color: navy;
		
	}

	#bottomrow {
		margin-bottom: 10px;
	}

	#plusminus {
		background-color: goldenrod;
		color: navy;
	}

	#bpercent {
		background-color: goldenrod;
		color: navy;
	}

