.button {
	size: 60px;
	background-color: grey;
	border: solid navy;
;	color: white;
	padding: 5px;
	margin: 5px;
}

.inputs {
	max-width: 10em;
	padding: 2px;
	
}

form {
	background-image: url(../img/vintage-leaves.png);
	background-color: grey;
	color: steelblue;	
	padding: 2px;
	max-width: 400px;
	height: 200px;


}
	.number {
		background-color: ivory;
		color: navy;
		border: solid grey;

	}

	.operator {
		background-color: ivory;
		color: navy;
		border: solid grey;
	}

	#clear {
		background-color: ivory;
		color: navy;
		border: solid grey;
	}

	#bequal {
		background-color: ivory;
		color: navy;
		border: solid grey;
	}