body {
	background-color: aliceblue;
	margin-left: 20px;

}

table {
	border-style: inset;
	margin-bottom: 20px;
}

h1 {
	text-align: center;
}


h2 {
	font-size: 18px;
	text-decoration: underline;
}

tr {
	border-bottom-style: solid;
	border-right-style: solid;
	border-color: lightgrey;
}


button {
	margin-bottom: 20px;
	margin-left: 20px;
	margin-top: 20px;
	padding: 5px;
}

#forecast {
	margin-bottom: 20px;
}


#map-canvas {
    width: 770px;
    height: 481px;
 }
 
.col-md-4 {
	border-style: solid;
	padding-bottom: 5px;
	margin-bottom: 20px;
	text-align: center;
	background-color: lightgrey;

}

#temp {
	font-weight: bold;
	font-size: 16px;

}

.map {
	margin-left: 20px;
}

#current {
	margin-bottom: 20px;	
}

#today {
	width: 30px;
}

.latitude {
	border-style: inset;
}	

.longitude {
	border-style: inset;
}

